@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --para-w: #949494;
}

h1,h2{
    color: #dec6c6fa;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(128deg, #292969, #5c2a32d6);
}
.container {
    padding-top: 70px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.nav-container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

input,textarea{
    background: transparent;
    color: aqua;
    letter-spacing: 1.5px;
}



/*--------------------Header------------------------*/

header {
    height: auto;
}

.head-info{
    line-height: 2rem;
}

.head-info {
    padding-top: 5rem;
    text-align: center;
    margin: 0 auto;
}

p {
    color: var(--para-w);
    padding-top: 20px;
}

.head-img {
    margin: 2rem auto;
}

.head-img img {
    vertical-align: middle;
    width: 100%;
}

.head-input {
    max-width: 650px;
    display: inline-block;
    padding-top: 2rem;
}

.head-input #se-input {
    border-radius: 20px;
    border: 1px solid cyan;
    width: 350px;
    padding: 10px;

}

.head-input .search {
    border-radius: 20px;
    width: 100px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #5315ff;
    padding: 10px;
    cursor: pointer;
}

.search:hover {
    background: blue;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(69, 1, 255, 0.356);
}


nav {
    background: linear-gradient(63deg, #7b1e93, #973f3f00);
    filter: drop-shadow(2px 4px 6px black);
    position: fixed;
    width: 100%;
    padding: 0 0;
    box-shadow: 0px 3px 10px 0px #d5d5d5;
}

nav ul {
    float: right;
    margin-top: 10px;
    display: flex;
}

nav ul li {
    margin: 5px 50px;
    font-size: 20px;

}

nav ul li a{
    color: aqua;
}

.logo {
    margin-top: 5px;
    display: inline-block;
    color: rgb(250, 79, 0);
    font-size: 1.5rem;
    font-style: italic;
}



/*---------------------Services------------------------*/

.service-head {
    text-align: center;
    margin-top: 5rem;
}

.box {
    display: inline-flex;
    margin-top: 2rem;
}

.box-content {
    box-shadow: 0px 3px 10px 0px #d5d5d5;
    margin: 5rem 2rem;
    padding: 2rem;
}

.box-content p {
    text-align: justify;
    line-height: 20px;
}



/*----------------Pricing--------------------*/

.pricing{
    text-align: center;
    margin-top: 5rem;
}

.box input{
    border: 1px solid rgb(41 0 231);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    border-radius: 2rem;
    margin-top: 20px;
}
.box input:hover{
    background: #5e2ced;
    color: #fafafa;
    cursor: pointer;
}

.contact{
    text-align: center;
    margin-top: 10px;

}

.contact input{
    width: 250px;
    border: 1px solid cyan;
    padding: 11px;
    margin: 40px;
    border-radius: 15px;
}


.form{
    display: grid;
    justify-content: center;
}

.contact .sub{
    width: 100px;
    border-radius: 30px;
}

.sub:hover{
    background: #452a94;
    color: #e9e5e5e8;
}

/* ----------------------Footer-------------------- */

.fo-content img{
    width: 20px;

}
.fo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}



/*Responsive*/
@media screen and (max-width: 650px) {
    .box {
        display: inline;
        margin-top: 2rem;
    }

    .box-content {
        margin: 2rem auto;
    }

    .logo {
        text-align: center;
    }
}